<div class="card">
    <div class="ratio ratio-16x9">
        <img *ngIf="video_thumb && video_thumb!=''" src="{{ video_thumb}}" alt="">

        <div *ngIf="!video_thumb || video_thumb === ''" class="placeholder-image">
            <i class="bi bi-card-image" aria-hidden="true"></i>
        </div>
    </div>
    
    <div class="card-body">
        <button  *ngIf="video_embed!=''" class="btn btn-link icon-link p-0 text-start stretched-link" (click)="playVideo(content, video_embed)">
            {{video_title}}
            <i class="bi bi-youtube ms-1" aria-hidden="true"></i>
        </button>
        <p *ngIf="video_embed ===''">
            {{video_title}}
        </p>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-0">
        <div class="ratio ratio-16x9">
            <iframe [src]="embedLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</ng-template>