


<header class="navbar mb-4" [class]="darkMode? 'bg-dark':'bg-info'" [attr.data-bs-theme]=" darkMode ? 'dark':'light' ">
    <nav class="container">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="" class="nav-link">{{'nav.homepage' | translate}}</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/kinkekaart" class="nav-link">{{'nav.giftcards' | translate}}</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/esindused" class="nav-link">{{'nav.esindused' | translate}}</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/map" class="nav-link">{{'nav.map' | translate}}</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="/contact-us" class="nav-link">{{'nav.contact-us' | translate}}</a>
        </li>
        
      </ul>
      <ng-container *ngIf="loggedIn; else loggedOutTemplate">
        <ul class="navbar-nav flex-row justify-content-start">
            <!-- <li class="nav-item">
              <a routerLinkActive="active" routerLink="/lisa-toode" class="nav-link">Lisa toode</a>
            </li> -->
            <!-- <li class="nav-item">
              <a routerLinkActive="active" routerLink="/seaded" class="nav-link">Seaded</a>
            </li> -->
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="/halda" class="nav-link">{{'nav.maintain-products' | translate}}</a>
            </li>
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="/kategooria" class="nav-link">{{'nav.category' | translate}}</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" routerLink="/tarnija" class="nav-link">{{'nav.supplier' | translate}}</a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/poed" class="nav-link">{{'nav.shops' | translate}}</a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/pildid" class="nav-link">{{'nav.pictures' | translate}}</a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active" routerLink="/autod" class="nav-link">{{'nav.autod' | translate}}</a>
              </li>
          </ul>
        </ng-container>
        <ng-template #loggedOutTemplate>
            <ul class="navbar-nav flex-row ms-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a></li>
              </ul>
        </ng-template>
      
      <ul class="navbar-nav flex-row ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/ostukorv" routerLinkActive="active"><i class="bi bi-cart"></i><span>{{ totalSum | price}}</span></a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="keel === 'est'" (click)="muudaKeel('est')">EST</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="keel === 'eng'"(click)="muudaKeel('eng')">ENG</a></li>
        <li class="nav-item"><a class="nav-link" [class.active]="keel === 'rus'" (click)="muudaKeel('rus')">RUS</a></li>
        <button (click)="muudaMode()" class="btn btn-link" [class]="darkMode? 'text-white':'text-black'"><i class="bi" [class]="darkMode? 'bi-sun':'bi-sun-fill'"></i></button>
        <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
      </ul>
      
    </nav>
  </header>