<div class="container">

    <h1>{{'heading.change-character' | translate}}</h1>
    <form [formGroup]="changeCharacterForm" (submit)="changeCharacter()">
        <div class="form-group">
          <label for="first">{{'heading.first-name' | translate}}</label>
          <input type="text" id="first" formControlName="first" required>
        </div>
        <div class="form-group">
          <label for="last">{{'heading.last-name' | translate}}</label>
          <input type="text" id="last" formControlName="last" required>
        </div>
        <div class="form-group">
          <label for="home">{{'heading.home' | translate}}</label>
          <input type="text" id="home" formControlName="home" required>
        </div>
        <div class="form-group">
          <label for="image">{{'heading.picture' | translate}}</label>
          <input type="text" id="image" formControlName="image" required>
        </div>
        <button [disabled]="changeCharacterForm.invalid" type="submit"class="btn btn-primary">{{'btn.change' | translate}}</button><br>
    </form>
</div>
