<div id="carouselExampleCaptions" class="carousel slide mb-4">
    <div class="carousel-indicators">
      @for ( pilt of pildid; track pilt; let i = $index) {
        <button type="button" data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="[i]" [class.active]="i === 0"></button>
      }
    </div>
    <div class="carousel-inner">
        @for ( pilt of pildid; track pilt; let i = $index) {
            <div class="carousel-item" [class.active]="i === 0">
                <img src="{{pilt.url}}" class="d-block w-100" alt="{{pilt.alt}}">
                <div class="carousel-caption d-none d-md-block">
                <h5>{{pilt.header}}</h5>
                <p>{{pilt.text}}</p>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
