<button class="btn" [class]="aktiivneLinn==='tallinn' ? 'btn-primary' : 'btn-secondary'" (click)="muudaLinn('tallinn')">Tallinn ({{ esindused["tallinn"].length}})</button>
<button class="btn" [class]="aktiivneLinn==='tartu' ? 'btn-primary' : 'btn-secondary'" (click)="muudaLinn('tartu')">Tartu ({{ esindused["tartu"].length}})</button>
<button class="btn" [class]="aktiivneLinn==='narva' ? 'btn-primary' : 'btn-secondary'" (click)="muudaLinn('narva')">Narva ({{ esindused["narva"].length}})</button>
<button class="btn" [class]="aktiivneLinn==='parnu' ? 'btn-primary' : 'btn-secondary'" (click)="muudaLinn('parnu')">P2rnu ({{ esindused["parnu"].length}})</button>

<br><br>
<app-sorteeri-nupud [poed]="esindused" [aktiivneLinn]="aktiivneLinn"/>

<app-filtreeri-nupud [poed]="esindused" [aktiivneLinn]="aktiivneLinn"/>


@for ( esindus of esindused[aktiivneLinn]; track esindus; let i = $index) {
    <div>{{esindus}}</div>
    <a [routerLink]="[ '/esindus', aktiivneLinn, i ]">Vt lähemalt</a>
}

<p>Koikide esinduste t2hed kokku: {{tahedKokku()}}</p>
