<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'nav.characters' | translate}}</a></li>
    <li><a routerLink="halda-tegelasi" routerLinkActive="active">{{'nav.maintain-characters' | translate}}</a></li>
    <li><a routerLink="books" routerLinkActive="active">{{'nav.books' | translate}}</a></li>
    <li><a routerLink="numbers" routerLinkActive="active">{{'nav.numbers' | translate}}</a></li>
  </ul>

  <ul class="right">
    <li><a [class.active]="lang === 'et'" (click)="changeLang('et')">EST</a></li>
    <li><a [class.active]="lang === 'en'" (click)="changeLang('en')">ENG</a></li>
    <li><a routerLink="favourites" routerLinkActive="active">{{'nav.favourites' | translate}} <img src="assets/imgs/heart.svg"></a></li>
  </ul>
</nav>

<router-outlet />