<div class="main-link-list">
    <a class="main-link" routerLink="work">
        <img src="https://www.colliers.com/-/media/images/colliers/asia/philippines/colliers-review/collierreview_hero_image_01312022_v2/hero_image_tondominium/hero_image_021522/hero_image_colliersviewpoint_022222.ashx?bid=0f5b3ed2a8de41f89e1a8d557e48f9f8" alt="">
        <p>Tööde lehele</p>
    </a>
    <a class="main-link" routerLink="hobbies">
        <img src="https://res.cloudinary.com/hz3gmuqw6/image/upload/c_fill,f_auto,q_60,w_750/v1/goldenapron/6261d0c54293f" alt="">
        <p>Hobide lehele</p>
    </a>
    <a class="main-link" routerLink="courses">
        <img src="https://instructor-academy.onlinecoursehost.com/content/images/2023/05/61_Best-Udemy-Alternatives-For-Instructors-ONLINE-COURSE-MARKETPLACES.jpg" alt="">
        <p>Kursuste lehele</p>
    </a>
</div>
<div class="rectangle"></div>
<p class="main-text">Tere tulemast minu lehele</p>
