<div class="d-flex gap-2 my-3">
    <button class="btn btn-info" (click)="filterEndsWithE()">J2ta alles e-ga l6ppevad</button>
    <button class="btn btn-info" (click)="filterKellelOn9tathe()">J2ta alles 9 t2hte sisaldavad </button>
    <button class="btn btn-info" (click)="filterKellelOnVah7Tahte()">J2ta alles v2hemalt 7 t2hte sisaldavad</button>
    <button class="btn btn-info" (click)="filterKesSisaldabIsLyhendit()">J2ta alles kes sisaldavad 'is' lyhendit</button>
    <button class="btn btn-info" (click)="filterKellelOnKolmasTahtI()">J2ta alles kellel on 3s t2ht 'i'</button>
</div>
