<div class="row">
    <div class="col-4">
        <form #tooteVorm="ngForm" (submit)="lisa(tooteVorm)">
            <div class="form-group mb-3">
                <label class="form-label">Pilt</label>
                <input ngModel name="pilt" type="text" class="form-control"  required>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">{{'form.product-name' | translate}}</label>
                <input ngModel name="nimi" type="text" class="form-control" required>
            </div>
            <!-- <div class="form-group mb-3">
                <label class="form-label">Nimi</label>
                <input ngModel name="nimi" [type]="showName? 'text':'password'" class="form-control" required>
                <button type="button" (click)="changeShowName()">{{ showName ? "Varja":"N2ita" }}</button>
            </div> -->
            <div class="form-group mb-3">
                <label class="form-label">{{'form.product-price' | translate}}</label>
                <input ngModel name="hind" type="number" class="form-control" required>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Kategooria</label>
                <select name="kategooria" ngModel class="form-select">
                    <option value="">Vali</option>
                    @for (kategooria of kategooriad; track kategooria; let i = $index){
                        <option [value]="kategooria.nimi">{{kategooria.nimi}}</option>
                    }
                </select>
            </div>
            <div class="form-check mb-3">
                <input ngModel name="aktiivne" type="checkbox" class="form-check-input">
                <label class="form-check-label" for="aktiivne">Aktiivsus</label>
            </div>

            <button  type="submit"class="btn btn-info">Sisesta</button><br>
        </form>
    </div>
</div>

<!-- <p *ngIf="isNimiInvalid(tooteVorm)">Ilma C m2rgita ei saa lisada</p> -->


<table class="table my-4">
    <thead>
        <tr>
            <th>Pilt</th>
            <th>Nimi</th>
            <th>Kategooria</th>
            <th>Hind</th>
            <th>Aktiivsus</th>
            <th colspan="2">Tegevused</th>
        </tr>
    </thead>
    <tbody>
    @for (toode of tooted; track toode; let i = $index){
        <tr>
            <td><img style="width: 50px" src="{{toode.pilt}}" alt=""></td>
            <td>{{toode.nimi}}</td>
            <td>{{toode.kategooria}}</td>
            <td>{{toode.hind}}</td>
            <td>{{toode.aktiivne}}</td>
            <td>
                <button (click)="kustuta(i)" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
            </td>
            <td>
                <button [routerLink]="[ '/muuda-toode', toode.nimi ]" class="btn btn-info">Muuda</button>
            </td>
        </tr>
    }
    </tbody>
</table>
