<div class="container">
    <div class="alert alert-success" *ngIf="this.message!==''">{{ message }}</div>

    <h1>Uue tegelase lisamine</h1>
    <form #characterAddform="ngForm" (submit)="add(characterAddform)">
        <div class="form-group">
          <label for="first">Eesnimi</label>
          <input type="text" id="first" name="first" ngModel>
        </div>
        <div class="form-group">
          <label for="last">Perenimi</label>
          <input type="text" id="last" name="last" ngModel>
        </div>
        <div class="form-group">
          <label for="home">Elukoht</label>
          <input type="text" id="home" name="home" ngModel>
        </div>
        <div class="form-group">
          <label for="image">Pilt</label>
          <input type="text" id="image" name="image" ngModel>
        </div>
        <button type="submit" class="btn">Lisa</button>
    </form>

    <h2>Tegelased</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Pilt</th>
                <th>Eesnimi</th>
                <th>Perenimi</th>
                <th>Elukoht</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
        @for (tegelane of tegelased; track tegelane; let i = $index){
            <tr>
                <td><img style="height: 100px" src="{{tegelane.image}}" alt=""></td>
                <td>{{tegelane.first}}</td>
                <td>{{tegelane.last}}</td>
                <td>{{tegelane.home}}</td>
                <td><button (click)="delete(i)" class="btn">x</button></td>
                <td><button [routerLink]="[ '/muuda-tegelane', tegelane.first ]" class="btn">Muuda</button></td>
            </tr>
        }
        </tbody>
    </table>
</div>
