<div class="d-flex gap-2 my-3">
    <button class="btn btn-primary" (click)="sorteeriAZ()">{{'sort.a-z' | translate}}</button>
    <button class="btn btn-primary" (click)="sorteeriZA()">{{'sort.z-a' | translate}}</button>
    <button class="btn btn-primary" (click)="sorteeriTahedKasv()">{{'sort.letters-asc' | translate}}</button>
    <button class="btn btn-primary" (click)="sorteeriTahedKah()">{{'sort.letters-desc' | translate}}</button>
    <button class="btn btn-primary" (click)="sorteeriKolmasTahtAZ()">Sorteeri kolmas t2ht A-Z</button>
</div>
