<div class="col">
    <div class="card h-100">
        <img src="{{toode.pilt}}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title"> {{toode.nimi | shortener:4}}</h5>
            <p class="card-text text-muted">{{toode.kategooria}}</p>
            <p class="card-text">Hind: {{toode.hind | price }}</p>
            <p>Laos: {{toode.aktiivne}}</p>
            <p><a [routerLink]="[ '/toode', toode.nimi ]">Vaata lähemalt</a></p>
        </div>
        <div class="card-footer">
            <button class="btn btn-info w-100" (click)="addToCart.emit(toode)">Lisa ostukorvi</button>
            
        </div>
    </div>
</div>
