.card-img {
    position: relative;
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
    .placeholder-image {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 2rem;
        }
    }
}
.top-overlay {
    position: absolute;
    top: .5rem;
    right: 0;
    padding: 0.35em 0.65em;
    font-size: 0.75rem;
    font-weight: 700;
    white-space: normal;
    text-align: left;
    display: inline-flex;
    align-items: center;
    img {
        height: 1rem;
    }
}
.btm-overlay {
    position: absolute;
    bottom: .5rem;
    left: 0;
    padding: 0.35em 0.65em;
    display: inline-flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    .bi-youtube {
        font-size: 1.125rem;
    }
    .btn-link {
        font-size: 0.75rem;
        font-weight: 700;
        text-align: left;
        display: inline-flex;
        align-items: center;
        line-height: 1.2;
        padding: 0;
    }
}

.filter-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 1rem;
}
.form-select-sm {
    padding-right: 2.5rem;
    background-position: right 0.5rem center;
}

