<nav class="navbar navbar-expand-lg bg-primary mb-4" data-bs-theme="dark">
    <div class="container-fluid flex-wrap">
        <div class="d-flex justify-content-center w-100">
            <a class="navbar-brand p-0 mb-2" href="#">
                <img src="assets/imgs/eurovisioon-logo.png" alt="Eurovisioon.ee logo" width="" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Avaleht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/aasta/2024" routerLinkActive="active">Malmö 2024</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/videod" routerLinkActive="active">Videod</a>
                </li>
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">Ajalugu</a>
                    <div ngbDropdownMenu>
                      <a ngbDropdownItem href="#" routerLink="/riigid" routerLinkActive="active">Riigid</a>
                      <a ngbDropdownItem href="#" routerLink="/aastad" routerLinkActive="active">Aastad</a>
                      <a ngbDropdownItem href="#" routerLink="/voitjad" routerLinkActive="active">Võitjad</a>
                    </div>
                </li>
            </ul>
        <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        </div>
    </div>
</nav>
