
<div class="container">
    <!-- <p>{{kuupaev | date }}</p>
    <p>{{kuupaev | date: 'shortTime' }}</p>
    <p>{{kuupaev | date: 'shortDate' }}</p>
    <p>{{kuupaev | date: 'mediumTime' }}</p>
    <p>{{kuupaev | date: 'mediumDate' }}</p>
    <p>{{kuupaev | date: 'd.MM.yyyy H:mm' }}</p>

    <p>{{ 0.5 | percent}}</p>
    
    <p>{{ tooted | json}}</p> -->

    <app-carousel />

    <app-card 
    [header]="'TV ja internet suvilasse'" 
    [content]="'Talvekuudel seadmete eest üüri maksma ei pea ning teenused saad peatada 90 päevaks tasuta.'" 
    [buttonText]="'Soovin pakkumist'" 
    [imageUrl]="''" />
    
    <div class="row row-cols-4 g-4">
        @for (toode of tooted; track toode; let i = $index){
            <app-toode [toode]="toode" (addToCart)="lisaOstukorvi($event)"/>
        }
    </div>

    <app-card 
    [header]="'TV ja internet koju'" 
    [content]="'Super pakkumine. Vaatan tingimusi'" 
    [buttonText]="'Tahan rohkem teada'" 
    [imageUrl]="''" />
</div>


