<div class="container">
    <ng-container *ngIf="favourites.length === 0; else cartNotEmpty">
        <div>Sul ei ole ühtegi lemmikut </div>
    </ng-container>
    <ng-template #cartNotEmpty>
        <h1>Lemmikud</h1>
        <p> Sul on {{ favourites.length }} lemmikut</p>

        <div class="card-group">
            @for ( favourite of favourites; track favourite; let i = $index) {
              <div class="col">
                <div class="card">
                  <img src="{{ favourite.image }}" class="card-img" alt="">
                  <div class="card-body">
                    <h2>{{ favourite.first }} {{ favourite.last }}</h2>
                    <p>{{ favourite.home }}</p>
                    <div><button class="btn" (click)="kustuta(i)">Kustuta</button></div>
                  </div>
                </div>
              </div>
            }
        </div>

        <button class="btn" (click)="tyhjenda()">Tühjenda</button>
    </ng-template>
</div>

